body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.sidebar {
    background-color: #f4f4f4;
    padding: 1em;
}
.content {
    padding: 2em;
    background-color: #eaeaea;
}