* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex: 1;
}
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1em;
}
.content {
    flex: 1;
}